/*** default.css ***/


/***


FILE:   default.css
DATE:   January 2006
AUTHOR: Francis J. Skettino
DESC:   Open Source Web Design CSS


Element Order Guide: (not complete)
   display, float, width, height, margin, 
   padding, border, background, font, text, color


***/



/*** START GENERAL ***/

body
{
	margin: 0;
	padding: 0;
	background-image: url("/img/background2.gif");
	background-repeat: repeat-y;
	background-position: top center;
	background-color: #fff;
	font-family: arial, helvetica, sans-serif;
	/*
	text-transform: lowercase;
	*/
}

#container
{
	/*
	width: 760px;
	*/
	width: 851px;
	margin: 0 auto;
	padding: 41px 8px 0px 8px;
	background-image: url("/img/top4.gif");
	background-repeat: no-repeat;
	background-position: top center;
}

#content
{
	float: left;
	/*
	width: 529px;
	*/
	width: 620px; 
	margin: 8px 0 0 0;
}

#sidebar_ad
{
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	background-color: #f4f4f4;
	padding: 18px 0 0 18px;
	height: 110px;
	margin-bottom: 18px;
}

h2
{
	font-size: 1.4em;
	color: #434343;
}

h2 a,
h2 a:visited
{
	color: #434343;
	text-decoration: none;
}

h2 a:active,
h2 a:hover
{
	color: #74a8f5;
}

p
{
	color: #636363;
}

em
{
	font-style: normal;
	font-weight: bold;
}

a:link,
a:visited
{
	color: #74a8f5;
}

a:active,
a:hover
{
	color: #fb9622;
}

#content #error
{
	background-color: #fff;
	color: #FE4D30;
	font-weight: bold;
	font-size: 0.9em;
}

/*** END GENERAL ***/



/*** START HEADER ***/

#header
{
/*
	width: 760px;
*/
	width: 851px;
	height: 168px;
	position: relative;
}

#logo
{
/*
	float: left;
*/
	position: absolute;
	left: 0;
	top: 0;
}

#logo h1
{
	width: 215px;
	height: 168px;
	margin: 0 0 0 8px;
	padding: 0;
	background-image: url("/img/logo2.gif");
	background-repeat: no-repeat;
	background-position: 0 0;	
	text-indent: -1000em;
	overflow: hidden;
	position: relative;
}

#logo h1 a
{
	position: absolute;
	top: 0;
	left: 0px;
	display: block;
	width: 198px;
	height: 111px;
	margin: 0;
	padding: 0;
}

#navigationheader
{
	position: absolute;
	left: 223px;
	top: 0;
	/*
	width: 529px;
	*/
	width: 620px;
	height: 52px;
	margin: 0;
	border-bottom: 1px solid #c1c1c1;
	background-image: url("/img/designcascade.gif");
	background-repeat: no-repeat;
	background-position: bottom right;
}

#navigationheader h2
{
	height: 0;
	margin: 0;
	padding: 0;
	text-indent: -1000em;
	overflow: hidden;
}

#navigationheader ul
{
	display: block;
	margin:	14px 0 0 16px;
	padding: 0;
}

#navigationheader ul li
{
	display: inline;
	margin: 0 16px 0 0;
	padding: 0;
	list-style: none;
}

#navigationheader ul li a
{
	font-size: 0.9em;
	font-weight: bold;
	letter-spacing: 0em;
	text-decoration: none;
	background-image: url("http://static.oswd.org/layout/icons.gif");
	background-repeat: no-repeat;
	padding: 0 0 0 28px;
	background-color: #fff;
}

#navigationheader ul li a:link,
#navigationheader ul li a:visited
{
	color: #636363;
}

#navigationheader ul li a:hover,
#navigationheader ul li a:active
{
	color: #85C329;
}

#navigationheader ul li a#navinformation { background-position: 0 -144px; }
#navigationheader ul li a#navinformation:hover { background-position: 0 -912px; }
#navigationheader ul li a#navsuggestion { background-position: 0 -224px; }
#navigationheader ul li a#navsuggestion:hover { background-position: 0 -992px; }
#navigationheader ul li a#navsitemap { background-position: 0 -192px;}
#navigationheader ul li a#navsitemap:hover { background-position: 0 -960px; }

#introduction
{
	position: absolute;
	left: 223px;
	top: 61px;
	/*
	width: 529px;
	*/
	width: 620px;
	height: 106px;
	border-bottom: 1px solid #c1c1c1;
	background-image: url("/img/introductionbg.gif");
	background-position: top left;
	background-repeat: no-repeat;
}

#introduction h2
{
	width: 198px;
	height: 40px;
	margin: 0;
	position: absolute;
	left: 0px;
	top: 66px;
	color: #939393;
	text-align: center;
}

#introduction h3
{
	position: absolute;
	left: 213px;
	top: 66px;
	/*
	width: 310px;
	*/
	width: 407px;
	height: 40px;
	margin: 0;
	padding: 0;
	font-size: 1.4em;
	color: #939393;
	text-align: center;
}

#introduction h3 strong
{
	color: #85c329;
}

#introduction p
{
	width: 300px;
	/*
	width: 406px;
	*/
	height: 50px;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 214px;
	top: 2px;
	font-size: 0.8em;	
	line-height: 120%;
}

#introduction p strong
{
	color: #85C329;
}

#introduction p em
{
	font-weight: bold;
	font-style: normal;
}

/*** END HEADER ***/



/*** START SIDEBAR ***/

#sidebar
{
	float: left;
	clear: left;
	width: 198px;
	margin: -44px 17px 0 0;
	padding: 0 0 0 8px;
}

#navigationmain
{

}

#navigationmain h2
{
	height: 40px;
	margin: 0 0 3px 0;
	padding: 0;
}

#navigationmain ul
{
	width: 100%;
	margin: 0;
	padding: 0;
	border-top: 1px solid #c1c1c1;
}

#navigationmain ul li
{
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #c1c1c1;
	list-style: none;

}

#navigationmain ul li a
{
	display: block;
	margin:	12px 0 12px 12px;
	padding: 0 0 0 28px;
	font-size: 0.9em;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	line-height: 16px;
	background-image: url('http://static.oswd.org/layout/icons.gif');
	background-repeat: no-repeat;
}

#navigationmain ul li a:link,
#navigationmain ul li a:visited
{
	color:						#636363;
}

#navigationmain ul li a:active,
#navigationmain ul li a:hover
{
	color: #74a8f5;
	background-position: center left;
	background-repeat: no-repeat;
}

#navigationmain ul li a.current
{
	background-color: #f4f4f4;
}


#navigationmain ul li a.current:active,
#navigationmain ul li a.current:hover
{
	color:						#74a8f5;
}

#navigationmain ul li a#navhome { background-position: 0 -96px; }
#navigationmain ul li a#navhome:hover { background-position: 0 -352px; }
 

#navigationmain ul li a#navcommercial { background-position: 0 -64px; }
#navigationmain ul li a#navcommercial:hover { background-position: 0 -320px; }

#navigationmain ul li a#navbrowse { background-position: 0 -64px; }
#navigationmain ul li a#navbrowse:hover { background-position: 0 -320px; }

#navigationmain ul li a#navsearch { background-position: 0 -240px; } 
#navigationmain ul li a#navsearch:hover { background-position: 0 -496px; }

#navigationmain ul li a#navfavorites { background-position: 0 -112px; }
#navigationmain ul li a#navfavorites:hover { background-position: 0 -368px; }

#navigationfeatures
{
	margin: 14px 0 20px 0;
	width: 198px;
	float: left;
}

#navigationfeatures h2
{
	height: 40px;
	margin: 0 0 3px 0;
	padding: 0;
}

#navigationfeatures ul
{
	width: 100%;
	margin: 0;
	padding: 0;
	border-top: 1px solid #c1c1c1;
}

#navigationfeatures ul li
{
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #c1c1c1;
	list-style: none;

}

#navigationfeatures ul li a
{
	display: block;
	margin: 12px 0 12px 12px;
	padding: 0px 0 0px 28px;
	font-size: 0.9em;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	line-height: 16px;
	background-image: url('http://static.oswd.org/layout/icons.gif');
	background-position: center left;
	background-repeat: no-repeat;
}

#navigationfeatures ul li a:link,
#navigationfeatures ul li a:visited
{
	color: #636363;
}

#navigationfeatures ul li a:active,
#navigationfeatures ul li a:hover
{
	color: #74a8f5;
}

#navigationfeatures ul li a#navdesignologue { background-position: 0 -32px; }
#navigationfeatures ul li a#navdesignologue:hover { background-position: 0 -288px; }
#navigationfeatures ul li a#navstatistics { background-position: 0 -208px; }
#navigationfeatures ul li a#navstatistics:hover { background-position: 0 -464px; }
#navigationfeatures ul li a#navlinks { background-position: 0 -32px; }
#navigationfeatures ul li a#navlinks:hover { background-position: 0 -288px; }
#navigationfeatures ul li a#navforum { background-position: 0 -48px; }
#navigationfeatures ul li a#navforum:hover { background-position: 0 -304px; }

#navigationfeatures ul li a.current
{
	background-color: #f4f4f4;
}

#navigationuser
{
	margin: 14px 0 0px 0;
	width: 198px;
	float: left;
}

#navigationuser h2
{
	height: 40px;
	margin: 0 0 3px 0;
	padding: 0;
	text-transform: none;
}

#navigationuser ul
{
	width: 100%;
	margin: 0;
	padding: 0;
	border-top: 1px solid #c1c1c1;
}

#navigationuser ul li
{
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #c1c1c1;
	list-style: none;

}

#navigationuser ul li a
{
	display: block;
	margin: 8px 0 8px 12px;
	padding: 0px 0 0px 28px;
	font-size: 0.9em;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	line-height: 26px;
	background-position: center left;
	background-repeat: no-repeat;
}

#navigationuser ul li a:link,
#navigationuser ul li a:visited
{
	color:						#636363;
}

#navigationuser ul li a:active,
#navigationuser ul li a:hover
{
	color: #74a8f5;
	background-position: center left;
	background-repeat: no-repeat;
}

#navigationuser ul li a#navdesigns { background-image: url("/img/icons/gdesigns.gif"); }
#navigationuser ul li a#navdesigns:hover { background-image: url("/img/icons/bdesigns.gif"); }
#navigationuser ul li a#navdesignadd { background-image: url("/img/icons/gupload.gif"); }
#navigationuser ul li a#navdesignadd:hover { background-image: url("/img/icons/bupload.gif"); }
#navigationuser ul li a#navprofile { background-image: url("/img/icons/gprofile.gif"); }
#navigationuser ul li a#navprofile:hover { background-image: url("/img/icons/bprofile.gif"); }
#navigationuser ul li a#navsettings { background-image: url("/img/icons/gsettings.gif"); }
#navigationuser ul li a#navsettings:hover { background-image: url("/img/icons/bsettings.gif"); }
#navigationuser ul li a#navlogout { background-image: url("/img/icons/glogout.gif"); }
#navigationuser ul li a#navlogout:hover { background-image: url("/img/icons/blogout.gif"); }

#navigationuser ul li a.current
{
	background-color: #f4f4f4;
}

#userlogin
{
	margin: 14px 0 0px 0;
	width: 198px;
	float: left;
}

#userlogin .hidden
{
	display: none;
}

#userlogin h2
{
	margin: 0 0 3px 0;
	padding: 0;
}

#userlogin p
{
	margin: 26px auto;
	padding: 5px;
	text-align: center;
	font-size: 0.9em;
	font-weight: bold;
	color: #fff;
	background-color: #FB5522;
}

#userlogin form
{
	margin: 0;
	padding: 0;
}

#userlogin p
{
}

#userlogin form input
{
	display: block;
	width: 100%;	
	margin: 0;
	padding: 0;
	border: 0;
	border-bottom: 1px solid #c1c1c1;
	font-size: 1.1em;
	color: #85C329;
	text-transform: none;
}


/* when I go out to a club, my mindset is to give everyone around me a good time */

#userlogin form input.submit
{
	width: 130px;
	margin: 0 auto;
	padding: 2px 0;
	border-top: 2px solid #BADF84;
	border-left: 2px solid #BADF84;
	border-bottom: 2px solid #6C9134;
	border-right: 2px solid #6C9134;
	background-color: #85C329;
	font-size: 0.65em;
	font-weight: bold;	
	letter-spacing: 0.05em;
	color: #fff;
}

#sidebar #userlogin form label
{
	display: block;
	margin: 0 0 10px 0;
	font-size: 0.9em;
	font-weight: bold;
	text-align: center;
	color: #636363;
}

#userlogin a
{
	display: block;
	margin: 20px 0;	
	font-size: 0.9em;
	text-align: center;
}

#userlogin strong
{
	display: block;
	width: 30px;	
	margin: 20px auto 20px auto;
	padding: 10px;	
	border-top: 1px solid #c1c1c1;
	border-bottom: 1px solid #c1c1c1;
	text-align: center;
	color: #636363;
}

/*** END SIDEBAR ***/



/*** START ADVERTISEMENT ***/

#advertisement
{
	margin: 20px 0 0 0px;
	padding: 0 0 0 8px;
	clear: both;
	float: left;
	width: 100%;
}

/*** END ADVERTISEMENT ***/



/*** START FOOTER ***/

#footer
{
	clear: both;
	margin: 8px 0 8px 0;
	padding: 0px;/*
	border-top: 8px solid #fff;
	border-bottom: 8px solid #fff;
	*/
	background-color: #85C329;	
	font-size: 1em;
	color: #fff;
	width: 835px;
	margin: 8px auto 8px auto;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#footer a
{
	font-weight: bold;
	text-decoration: none;
}

#footer a:link,
#footer a:visited
{
	color: #fff;
}

#footer a:active,
#footer a:hover
{
	text-decoration: underline;
}

#copyright
{
	padding: 10px 20px 0 0;
	font-size: 1.25em;
	text-align: right;
}

#navigationfooter
{
	padding: 0px 0 15px 0;
	font-size: 0.95em;
}

#navigationfooter ul
{
	margin: 0 0 0 20px;
	padding: 0;
	list-style: none;
}

#navigationfooter ul li
{
	margin: 0;
	padding: 0;
}

/*** END FOOTER ***/



/*** CONTENT SECTIONS ***/

#content
{

}

#contentsection
{
	float: left;
	/*
	width: 529px;
	*/
	width: 620px;
	padding-top: 34px;
	background-image: url("/img/contentsectionbg2.gif");
	background-position: top left;
	background-repeat: no-repeat;
}

#contentsectionleft
{
	float: left;
	width: 198px;
	margin: 0 0 30px 0;
	padding-top: 26px;
	background-image: url("/img/contentsectionleftbg.gif");
	background-position: top left;
	background-repeat: no-repeat;
}

#contentsectionright
{
	margin: 0 0 30px 8px;
	float: left;
	width: 323px;
	padding-top: 26px;
	background-image: url("/img/contentsectionrightbg.gif");
	background-position: top left;
	background-repeat: no-repeat;
}

#content #contentsection h2
{
	margin: 0;
	padding: 26px 0;
}


#content #contentsectionleft h2
{
	margin: 0;
	padding: 25px 0;
	border-bottom: 1px solid #c1c1c1;	
}

#content #contentsectionright h2
{
	margin: 0;
	padding: 25px 0;
}

#content #contentsectionright #staff h2
{
	margin: 0;
	padding: 25px 0;
	border-bottom: 1px solid #c1c1c1;	
}

#content #contentsectionright h2 a,
#content #contentsectionright h2 a:visited
{
	color: #434343;
	text-decoration: none;
}

#content #contentsectionright h2 a:active,
#content #contentsectionright h2 a:hover
{
	color: #74a8f5;
}

/*** END CONTENT SECTIONS ***/



/*** START GENERAL CONTENT SECTION ***/

#contentsection h4
{

	margin: 35px 40px 10px 40px;
	color: #434343;
}

#contentsection p
{
	margin: 40px 40px 35px 40px;
	padding: 20px 30px 20px 30px;
	background-color: #f4f4f4;
	font-size: 0.8em;
	line-height: 160%;
	color: #636363;
}

#contentsection p em
{
	font-style: normal;
	font-weight: bold;
}

#contentsection p strong
{
	color: #85C329;
}

#contentsection form
{
	margin: 35px 40px;
	padding: 0;
}

#contentsection form dl
{
	clear: both;
}

#contentsection form dl dt
{
	float: left;
	line-height: 23px;
	padding: 5px 0 5px 0;
	width: 130px;
	text-align: right;
	font-weight: bold;
	margin: 0 20px 0 0;
}

#contentsection form label
{
	font-size: 0.9em;
	font-weight: bold;
	/*
	text-transform: lowercase;
	*/
	color: #85C329;

}

#contentsection form dl dd
{
	padding: 5px 0 5px 0;
	margin: 0 0px 10px 150px;
	color: #636363;
}

#contentsection form dl dd textarea
{
	width: 280px;
	height: 300px;
}

#contentsection form dl dd input
{
	width: 280px;
	text-transform: none;
}

#contentsection form dl dd select
{
	width: 287px;
}

#contentsection form dl dd input.submit
{
	width: 130px;
	margin: 0 auto;
	padding: 2px 0;
	border-top: 2px solid #BADF84;
	border-left: 2px solid #BADF84;
	border-bottom: 2px solid #6C9134;
	border-right: 2px solid #6C9134;
	background-color: #85C329;
	font-size: 0.65em;
	font-weight: bold;	
	/*
	text-transform: lowercase;	
	*/
	letter-spacing: 0.05em;
	color: #fff;
}

/*** END GENERAL CONTENT SECTION ***/



/*** START NEWSPOST ***/

.newspost
{
	margin: 0 12px;
	text-transform: none;
}

.newspost h3
{
	font-size: 1.1em;
	color: #85C329;
}

.newspost h4,
.newspost h5
{
	margin: 0 0 6px 0;	
	font-size: 0.9em;
	color: #434343;
}

.newspost h4 strong,
.newspost h5 strong
{
	font-weight: normal;
	color: #939393;
}

.newspost h4 a
{
	font-weight: normal;
}

.newspost p
{
	margin: 20px 0;
	font-size: 0.8em;
	line-height: 160%;
	color: #636363;
}

.newspost a.more
{
	display: block;
	margin: 0 0 40px 20px;
	font-size: 0.8em;
}

/*** END NEWSPOST ***/






/*** START DESIGN PREVIEWS ***/

#designpreviews
{
	float: left;
	margin: 45px 0 45px 0;
	padding: 0;
	/*
	width: 485px;
	*/
	width: 510px;
}

#dpadvertisement
{
	float: left;
	margin: 0 0 8px 0;
	width: 527px;
	height: 62px;
	padding: 14px 0 14px 0;
	border: 1px solid #c1c1c1;
	text-align: center;
	position: relative;
}

/*** END DESIGN PREVIEWS ***/



/*** START PAGER ***/

#content #contentsection .pager
{
	float: left;
	/*
	width: 511px;
	*/
	width: 602px;
	margin: 0;
	padding: 8px 8px 8px 8px;
	border: 1px solid #c1c1c1;
	height: 26px;
}

#content #contentsection .pager form
{
	margin: 0px 0 0 0;
	padding: 0;
}

#content #contentsection .pager form select
{
	float: left;
	display: block;
	width: 120px;
	margin: 3px 6px 0 0;
	text-transform: none;
}

#content #contentsection .pager form input.submit
{
	width: 100px;
	margin: 0 0 1px 0;
	padding: 1px 0;
	border-top: 2px solid #BADF84;
	border-left: 2px solid #BADF84;
	border-bottom: 2px solid #6C9134;
	border-right: 2px solid #6C9134;
	background-color: #85C329;
	font-size: 0.65em;
	font-weight: bold;	
	/*
	text-transform: lowercase;	
	*/
	letter-spacing: 0.05em;
	color: #fff;
}

#content #contentsection .pager ul
{
	float: right;
	position: relative;
	width: 44px;
	height: 18px;
	margin: 4px 0 0 0;
	padding: 0px;
	background-image: url("/img/pagerinactive.gif");
	background-repeat: no-repeat;
	background-position: 0 0;
	text-indent: -1000em;
	overflow: hidden;
}

#content #contentsection .pager ul li
{
	display: inline;
	list-style: none;
	background-image: url("/img/pageractive.gif");
	background-repeat: no-repeat;
}

#content #contentsection .pager ul li a
{
	position: absolute;
	top: 0;
	display: block;	
	height: 18px;
	text-indent: -1000em;
	overflow: hidden;
}

#content #contentsection .pager ul li a:hover,
#content #contentsection .pager ul li a:active
{
	background-image: url("/img/pageractive.gif");
	background-repeat: no-repeat;
}

#content #contentsection .pager .pagerprevious a 
{
	width: 22px;
	left: 0;
	background-image: url("/img/pageractive.gif");
	background-position: 0px 0px;
}

/* this is such a hack...which someday needs optimizing */

#content #contentsection .pager .pagerprevious a:hover,
#content #contentsection .pager .pagerprevious a:active
{
	background-position: 0 -18px;
}

#content #contentsection .pager .pagernext a
{
	width: 22px;
	left: 22px;
	background-image: url("/img/pageractive.gif");
	background-position: 22px 0px;
}

#content #contentsection .pager .pagernext a:hover,
#content #contentsection .pager .pagernext a:active
{
	background-position: -22px -18px;
}

#content #contentsection .pager .results
{
	float: left;
	margin: 5px 0 0 10px;
	color: #fb9622;
	font-size: 0.9em;
	font-weight: bold;
}

/*** END PAGER ***/



/*** START SEARCH ***/

#search
{
	margin: 0 0 8px 0;
	padding: 30px 0 30px 0;
	background-color: #f4f4f4;
	text-align: center;
}

#search label
{
	display: none;
}

#search form
{
	margin: 0;
	padding: 0;
}

#search form select
{
	width: 180px;
	text-transform: none;
}

#search form input
{
	width: 180px;
	text-transform: none;
}

#search input.submit
{
	width: 100px;
	margin: 0 0 1px 0;
	padding: 1px;
	border-top: 2px solid #BADF84;
	border-left: 2px solid #BADF84;
	border-bottom: 2px solid #6C9134;
	border-right: 2px solid #6C9134;
	background-color: #85C329;
	font-size: 0.65em;
	font-weight: bold;	
	/*
	text-transform: lowercase;	
	*/
	letter-spacing: 0.05em;
	color: #fff;
}

#search table 
{
	margin: 0 auto;
	text-align: left;
}

#search table thead
{
	display: none;
}

#search table tbody tr td
{
	padding: 0 8px 4px 0;
}

#search table tbody tr td label
{
	display: inline;
	font-size: 0.9em;
	font-weight: bold;
	color: #939393;
}

#search table tbody tr td select
{
	width: 110px;
	margin: 0 10px 0 0;
}

#search table tbody tr td input.submit
{
	margin: 20px 0 0 0;
}

/*** END SEARCH ***/



/*** START NAVIGATION SEARCH ***/

#navigationsearch 
{
	margin: 0px 0 28px 55px;
	padding: 20px 0 0 0;
}

#navigationsearch ul
{
	margin: 0;
	padding: 0;
}

#navigationsearch ul li
{
	display: inline;
	margin: 0;
	padding: 0 16px 0 0;
	list-style: none;
}

#navigationsearch ul li a,
#navigationsearch ul li a:link,
#navigationsearch ul li a:visited
{
	padding: 0 0 0 28px;
	background-position: center left;
	background-repeat: no-repeat;
	text-decoration: none;
	/*
	text-transform: lowercase;
	*/
	font-size: 0.9em;
	font-weight: bold;
	color: #636363;
}

#navigationsearch ul li a:hover,
#navigationsearch ul li a:active
{
	padding: 0 0 0 28px;
	background-position: center left;
	background-repeat: no-repeat;
	color: #FB9622;
}

#navigationsearch ul li a#navsearchbykeyword { background-image: url("/img/icons/gsearch.gif"); }
#navigationsearch ul li a#navsearchbykeyword:hover { background-image: url("/img/icons/osearch.gif"); }
#navigationsearch ul li a#navsearchadvanced { background-image: url("/img/icons/gsearch.gif"); }
#navigationsearch ul li a#navsearchadvanced:hover { background-image: url("/img/icons/osearch.gif"); }
#navigationsearch ul li a#navsearchbydesigner { background-image: url("/img/icons/gsearch.gif"); }
#navigationsearch ul li a#navsearchbydesigner:hover { background-image: url("/img/icons/osearch.gif"); }

/*** END NAVIGATION SEARCH ***/



/*** START HISTORY ***/

#history
{
	margin: 0 0 0 12px;
}

#history h3
{
	font-size: 1.1em;
	color: #85C329;
}

#history p
{
	margin: 20px;
	font-size: 0.8em;
	line-height: 160%;
	color: #636363;
}

/*** END HISTORY ***/


/*** START STAFF ***/

#staff img
{
	margin: 4px 24px 24px 0;
	float: left;
}

#staff h3
{
	margin-top: 0;
	font-size: 1.1em;
	color: #85c329;
}

#staff h4
{
	font-size: 0.9em;
	font-weight: bold;
	color: #636363;
}

#staff h5
{
	font-size: 0.8em;
	font-weight: normal;
	color: #939393;
}

#staff p
{
	clear: left;
	margin: 0px;
	padding: 10px 10px 20px 25px;
	background-color: #f4f4f4;
	font-size: 0.8em;
	line-height: 160%;
	color: #636363;
}

#staff .member
{
	margin: 18px 0 70px 0;
	border-top: 1px solid #fff;
}

/*** END STAFF ***/



/*** START SUGGESTION ***/



/*** END SUGGESTION ***/



/*** START SUMMARY ***/

#summary
{
	margin-left: 12px;
}

#summary h3
{
	font-size: 1.1em;
	color: #85C329;
}

#summary p
{
	margin: 20px;
	font-size: 0.8em;
	line-height: 160%;
	color: #636363;
}

#summary p strong
{
	color: #85C329;
}

#summary p em
{
	font-weight: bold;
	font-style: normal;
}

/*** END SUMMARY ***/


/*** START PAGES ***/

#pages
{
}

#pages ul
{
	margin: 0;
	padding: 10px 0px 0px 15px;
	background-color: #f4f4f4;
}

#pages ul li
{
	margin: 0px 0 10px 0;
	color: #636363;
	list-style: none;
}


/*** END PAGES ***/



/*** START DETAIL PREVIEW ***/

#detailpreview
{
	float: left;
	width: 198px;
}

#detailpreview h2
{
	border-bottom: 1px solid #c1c1c1;
}

#detailpreview #detailthumbnail a
{
	display: block;
	border: 1px solid #c1c1c1;
	padding: 1px;
	margin: 40px 0 40px 38px;
	width: 120px;
	height: 90px;
}

#detailpreview #detailthumbnail img
{
	border: 0;
}

#detailpreview a
{
	font-size: 0.9em;
	font-weight: bold;
	text-decoration: none;
	display: block;
	margin: 0 0 0 38px;
	height: 18px;
	background-repeat: no-repeat;
	background-position: center left;
	padding-left: 30px;
	width: 120px;
}

#detailpreview a#view,
#detailpreview a#view:visited
{
	margin-bottom: 6px;
	background-image: url("/img/view.gif");
	color: #85C329;
}

#detailpreview a#download,
#detailpreview a#download:visited
{
	background-image: url("/img/download.gif");
	color: #636363;
}

#detailpreview a#download:active,
#detailpreview a#download:hover,
#detailpreview a#view:active,
#detailpreview a#view:hover
{
	color: #FB9622;
}

/*** END DETAIL PREVIEW ***/



/*** START DETAIL INFORMATION ***/

#detailinformation
{
	float: left;
	width: 323px;
	margin: 0 0 0 8px;
	border-bottom: 1px solid #c1c1c1;


}

#detailinformation dl
{
	margin: 0;
	padding: 0;

}

#detailinformation dl dt
{
	float: left;
	border-top: 1px solid #c1c1c1;
	padding: 0;
	width: 115px;
	text-align: center;
	color: #85C329;
	font-weight: bold;
	font-size: 0.9em;
	margin: 0;
	padding: 13px 12px 13px 12px;
	border-left: 1px solid #c1c1c1;
}

#detailinformation dl dd
{
	width: 182px;
	float: left;
	border-top: 1px solid #c8c8c8;
	margin: 0px 0px 0px 0;
	padding: 13px 0 13px 0px;
	background-color: #fff;
	font-size: 0.9em;
	font-weight: bold;
	color: #636363;
	background-image: url("/img/ddbg.gif");
	background-repeat: repeat-x;
	background-position: center left;
	text-align: center;

}

/*** END DETAIL INFORMATION ***/



/*** START DETAIL NOTES ***/

#detailnotes
{
	width: 529px;
	padding-top: 0px;
	clear: both;					
}

#detailnotes h2
{
	border-bottom: 1px solid #c1c1c1;
}

#detailnotes p
{
	margin: 20px;
	font-size: 0.8em;
	line-height: 160%;
	color: #636363;
}

/*** END DETAIL NOTES ***/


/*** START DESIGN LINKS ***/

#designlinks
{
	float: left;
	width: 529px;
}

#designlinks p
{
/*
	margin: 35px 40px 35px 40px;
	padding: 20px 30px 20px 30px;
*/
	margin: 26px 16px 26px 16px;
	padding: 20px 30px;
	background-color: #f4f4f4;
	font-size: 0.8em;
	line-height: 160%;
	color: #636363;
	/*
	background-image: url("/img/adfooterbg.gif");
	background-position: 0 0;
	background-repeat: no-repeat;
	*/
}

/* Kid loco is pretty good */

#designlinks p strong
{
	font-weight: bold;
	color: #85c329;
}

#designlinks dl
{
	margin: 0px 16px;
	padding: 0;
}

#designlinks dl dt
{
	font-size: 0.9em;
	font-weight: bold;
	padding: 0 0 0 30px;
	background-image: url("/img/icons/glinks.gif");
	background-repeat: no-repeat;
	background-position: top left;
	height: 18px;
	color: #636363;
}

#designlinks dl dt em a,
#designlinks dl dt em a:visited
{
	font-style: normal;
	color: #85C329;
}

#designlinks dl dt em a:hover,
#designlinks dl dt em a:active
{
	color: #fb9622;
}

#designlinks dl dd
{
	margin: 10px 0 20px 0;
	padding: 0 0 0 30px;
	font-size: 0.8em;
	line-height: 160%;
	color: #636363;
}

/*** END DESIGN LINKS ***/






/*** START DESIGN STATISTICS ***/

#designstatistics
{
	float: left;
	width: 529px;
}



#designstatistics dl
{
	margin: 0px 40px 35px 40px;
	clear: both;
}

#designstatistics dl dt
{
	float: left;
	border-right: 0px solid #c1c1c1;
	padding: 2px;
	width: 40px;
	text-align: right;
	font-weight: bold;
	margin-right: 10px;
	font-size:	0.9em;
	color:	#434343;

}

#designstatistics dl dd
{
	border-top: 0px solid #f4f4f4;
	margin: 0 0 4px 0;
	padding: 2px;
	font-weight: bold;
	font-size: 0.9em;
	color:	#636363;
}

#designstatistics dl dd em a,
#designstatistics dl dd em a:visited
{
	font-style: normal;
	color: #85C329;
}

#designstatistics dl dd em a:hover,
#designstatistics dl dd em a:active
{
	color: #fb9622;
}

#designstatistics dl dd strong
{
	color: #b0b0b0;
}

/*** END DESIGN STATISTICS ***/


/*** START PRIVACY POLICY ***/

#privacypolicy p
{
	background-color: #fff;
	margin: 0px 40px 0px 40px;
	padding: 20px 30px 0px 30px;
}

/*** END PRIVACY POLICY ***/


/*** START USAGE AGREEMENT ***/

#usageagreement p
{
	background-color: #fff;
	margin: 0px 40px 0px 40px;
	padding: 20px 30px 0px 30px;
}

/*** END USAGE AGREEMENT ***/

/*** START PREMIUM SECTION ***/

#premium
{
	width: 529px;
	margin: 8px 0 0 0;
	padding: 30px 0px 30px 0px;
	background-color: #f4f4f4;
	float: left;
}

#premium ul
{
	float: left;
	margin: 0 0 0 30px;
	padding: 0;
}

#premium ul li
{
	margin: 0 0 4px 0;
	padding: 0;
	list-style: none;
}

#premium ul li a
{
	font-size: 0.9em;
	font-weight: bold;
}


/*** END PREMIUM SECTIONS ***/


/*** START USER PROFILE ***/

#userprofiledesigns
{
	margin: 40px 0 0 30px;
}


/*** END USER PROFILE ***/



#designadd ul
{
	padding-left: 20px;
	margin-left: 0px;
}

#designadd ul li
{
	padding: 2px 0px;
	color: #333;
}







/*** forum.css ***/

/*** START FORUM ***/

#forum
{
	width: 510px;
	margin: 0px 0 30px 0px;
	text-transform: none;
	float: right;
}

#forum .pad
{
	margin-top: 28px;
}

#forumfp
{
	width: 294px;
	margin: 0;
	float: left;
	text-transform: none;
}

#forumfp h2
{
	/*
	text-transform: lowercase;
	*/
}

#forumfp table
{
	width: 294px;
	margin: 0;
}

#forum table
{
	width: 490px;
	margin: 35px 0 0 0;
}

#forum table thead,
#forumfp table thead
{
	display: none;
}

#forum table tr:hover,
#forumfp table tr:hover
{
	background-color: #FDFFD9;
}

#forum table tr.stripe,
#forumfp table tr.stripe
{
	background-color: #f4f4f4;
}

#forum table tr.stripe:hover,
#forumfp table tr.stripe:hover
{
	background-color: #FDFFd9;
}

#forum table tr td,
#forumfp table tr td
{
	padding: 6px 10px;
	vertical-align: top;
	text-align: left;
	font-size: 0.8em;
	color:	#434343;
}

#forum table tr td.fcol1,
#forumfp table tr td.fcol1
{
	width: 80px;
	background-color: #fff;
	padding-left: 0;
}

#forum table tr td.fcol2,
#forumfp table tr td.fcol2
{
	width: 220px;
	white-space: nowrap;
	overflow: hidden;
}

#forumfp table tr td.fcol2
{
	width: 100%;
}

#forum table tr td.fscol2
{
	width: 320px;
}

#forum table tr td.fcol3
{
	width: 70px;
}

#forum table tr td.fcol4
{
	white-space: nowrap;
}

#navigationforum 
{
	margin: 38px 0 0 30px;
}

#navigationforum ul
{
	margin: 0;
	padding: 0;
}

#navigationforum ul li
{
	display: inline;
	margin: 0;
	padding: 0 16px 0 0;
	list-style: none;
}

#navigationforum ul li a,
#navigationforum ul li a:link,
#navigationforum ul li a:visited
{
	padding: 0 0 0 28px;
	background-position: center left;
	background-repeat: no-repeat;
	text-decoration: none;
	/*
	text-transform: lowercase;
	*/
	font-size: 0.9em;
	font-weight: bold;
	color: #636363;
}

#navigationforum ul li a:hover,
#navigationforum ul li a:active
{
	padding: 0 0 0 28px;
	background-position: center left;
	background-repeat: no-repeat;
	color: #FB9622;
}

#navigationforum ul li a#navftopics { background-image: url("/img/icons/gforum.gif"); }
#navigationforum ul li a#navftopics:hover { background-image: url("/img/icons/oforum.gif"); }
#navigationforum ul li a#navfnewtopic { background-image: url("/img/icons/gnew.gif"); }
#navigationforum ul li a#navfnewtopic:hover { background-image: url("/img/icons/onew.gif"); }
#navigationforum ul li a#navfsearch { background-image: url("/img/icons/gsearch.gif"); }
#navigationforum ul li a#navfsearch:hover { background-image: url("/img/icons/osearch.gif"); }

#forum h3.ftopic
{
	margin: 35px 0 35px 0;
	padding: 0;
	width: 490px;
	text-align: center;
	font-size: 1.4em;
	color: #fff;
	background-color: #85C329;
}

#forum h3 #ftopictopbg
{
	height: 20px;
	background-image: url("/img/ftopictopbg.gif");
	background-position: top center;
	background-repeat: no-repeat;
	background-color: #85C329;
	line-height: 2px;
	font-size: 2px;
}

#forum h3 #ftopicbottombg
{
	height: 20px;
	background-image: url("/img/ftopicbottombg.gif");
	background-position: bottom center;
	background-repeat: no-repeat;
	line-height: 2px;
	font-size: 2px;
}


#forum form
{
	float: left;
	margin: 0px;
	color: #434343;
}

#forum #freply
{
	float: left;
	width: 490px;
	margin: 0 0 20px 0;
	padding: 0;
}

#contentsection #forum #freply h4
{
	margin:	35px 0px 35px 0px;
	padding: 0;
	/*
	text-transform: lowercase;
	*/
}

#forum #freply p
{
	margin:	35px 0px 20px 0px;
	/*
	text-transform: lowercase;
	*/
}

#forum #freply form
{
	width: 490px;
}

#forum .fpost,
#forumfp .fpost
{
	width: 490px;
	float: left;
	margin: 0 0 30px 0;
	background-image: url("/img/postbg.gif");
	background-repeat: repeat-y;
	background-position: top left;
	overflow: hidden;
}

#forum .fpost .fdate,
#forumfp .fpost .fdate
{
	width: 80px;
	height: 65px;
	float: left;
	padding: 8px 0 0 4px;
	background-color: #fff;
}

#forum .fmonthyear,
#forumfp .fmonthyear
{
	width: 30px;
	float: left;
	text-align: left;
	font-size: 11px;
	letter-spacing: 0.06em;
	line-height: 95%;
	color: #85C329;
}

#forum .fday,
#forumfp .fday
{
	width: 30px;
	float: left;
	margin: -6px 4px 0px 0;
	text-align: center;
	font-size: 28px;
	color: #85C329;
}

#forum .ftime,
#forumfp .ftime
{
	display: block;
	width: 80px;
	clear: both;
	letter-spacing: 0.02em;
	font-size: 12px;
	color: #939393;
}

#forum a.fluser,
#forum a:visited.fluser,
#forumfp a.fluser,
#forumfp a:visited.fluser
{
	color: #85c329;
}

#forum a:active.fluser,
#forum a:hover.fluser,
#forumfp a:active.fluser,
#forumfp a:hover.fluser
{
	color: #FB9622;
}

#forum a.fltopic,
#forum a:visited.fltopic
{
	color: #74A8F5;
}

#forum a:active.fltopic,
#forum a:hover.fltopic
{
	color: #FB9622;
}

#forum .fpost .fmain
{
	width: 371px;
	margin: 0 0 0 105px;
	border: 1px solid #fff;
	background-image: url("/img/avatar.gif");
	background-repeat: no-repeat;
	background-position: top left;
}

#forum .fpost .fmain .fui
{
	margin: 1px 0 24px 75px;
	padding: 0;
	font-size: 12px;
	color: #c1c1c1;
}

#forum .fpost .fmain h3
{
	margin: 10px 0 0px 75px;
	padding: 0;
	font-size: 1.2em;
	font-weight: normal;
}

#forum .fpost .fmain h3 a,
#forum .fpost .fmain h3 a:link,
#forum .fpost .fmain h3 a:visited
{
	text-decoration: none;
	color: #74A8F5;
}

#forum .fpost .fmain h3 a:hover,
#forum .fpost .fmain h3 a:active
{
	color: #FB9622;
}

#forum .fpost .fmain p
{
	margin: 0px 0 0px 0;
	padding: 0;
	font-size: 0.75em;
	line-height: 160%;
	background-color: #fff;
	text-indent: 0;
}

/*** END FORUM ***/



/*** designologue.css ***/

/*** START DESIGNOLOGUE FRONT PAGE ***/

#designologuefp
{
	margin: 0 12px;
	text-transform: none;
}

#designologuefp h3
{
	font-size: 1.1em;
	color: #85C329;
}

#designologuefp h4,
#designologuefp h5
{
	margin: 0 0 4px 0;	
	font-size: 0.9em;
	color: #939393;
}

#designologuefp h4 a
{
	font-weight: normal;
}

#designologuefp ul
{
	margin: 20px 0 30px 0;
	padding: 0;
	list-style: none;
}

#designologuefp ul li
{
	margin: 0 0 16px 0;
	padding: 0 0 0 28px;
	font-size: 0.8em;
	line-height: 160%;
	color: #636363;
	background-image: url("/img/icons/glinks.gif");
	background-repeat: no-repeat;
	background-position: 0 3px;
}

#designologuefp ul li a.addedby,
#designologuefp ul li a.addedby:visited
{
	color: #b4b4b4;
}

#designologuefp ul li a.addedby:active,
#designologuefp ul li a.addedby:hover
{
	color: #fb9622;
}

/*** END DESIGNOLOGUE FRONT PAGE ***/



/*** START DESIGNOLOGUE ***/

#designologue
{
	float: left;
	width: 529px;
	text-transform: none;
}

#designologue p
{
	margin: 26px 16px 26px 16px;
	padding: 20px 30px;
	background-color: #f4f4f4;
	font-size: 0.8em;
	line-height: 160%;
	color: #636363;
}

#designologue #timeline
{
	margin: 36px 16px 36px 16px;
	padding: 0px 30px;
	font-size: 0.9em;
	font-weight: bold;
}

#designologue #timeline ul
{
	margin: 0 0 8px 0;
	padding: 0;
	list-style: none;
}

#designologue #timeline ul li
{
	display: inline;
	margin: 0 0 0 10px;
	padding: 0;
}

#designologue #timeline ul li a
{
	padding: 2px 4px;
}

#designologue #timeline ul li a.current
{
	/*
	border: 1px solid #c4c4c4;
	text-decoration: none;
	*/
	color: #85c329;
}

#designologue #links
{
	margin: 26px 16px 26px 16px;
}

#designologue #links h4
{
	font-size: 0.9em;
	color: #85c329;
	margin: 0 0 30px 0;
	padding: 0;
}

#designologue #links ul
{
	margin: 0 30px 40px 30px;
	padding: 0;
	list-style: none;
}


#designologue #links ul li
{
	margin: 0 0 12px 0;
	padding: 0 0 0 28px;
	font-size: 0.8em;
	line-height: 160%;
	background-image: url("/img/icons/glinks.gif");
	background-repeat: no-repeat;
	background-position: 0 3px;
}

#designologue #links ul li a.addedby,
#designologue #links ul li a.addedby:visited
{
	color: #b4b4b4;
}

#designologue #links ul li a.addedby:active,
#designologue #links ul li a.addedby:hover
{
	color: #fb9622;
}

/*** END DESIGNOLOGUE ***/


/*** comments.css ***/

/*** START DESIGN COMMENTS ***/

#designcomments
{
	width: 529px;
	margin: 0px 0 30px 0px;
	clear: both;
}

#designcomments #dcname
{
	margin: 16px 20px 0px 20px;
	padding: 0;
	text-align: center;
	border: 0;
}

#designcomments h2
{
	border-bottom: 1px solid #c1c1c1;
	margin-top: 0px;
}

#designcomments #dcaddcomment form
{
	float: left;
	margin: 0px;
	color: #434343;
}

#designcomments #dcaddcomment
{
	margin: 0 0 20px 0;
	padding: 0 20px 0 20px;
}

#contentsection #designcomments #dcaddcomment h4
{
	margin:	35px 0px 35px 0px;
	padding: 0;
}

#designcomments #dcaddcomment p
{
	margin:	20px 0px 20px 0px;
}

#designcomments #dcaddcomment form
{
	width: 490px;
}

#designcomments .dccomment
{
	margin: 30px 0px 30px 20px;
	background-image: url("/img/postbg.gif");
	background-repeat: repeat-y;
	background-position: top left;
	overflow: hidden;
	width: 489px;
}

#designcomments .dccomment .dcdate
{
	width: 80px;
	height: 65px;
	float: left;
	padding: 8px 0 0 4px;
	background-color: #fff;
}

#designcomments .dcmonthyear
{
	width: 30px;
	float: left;
	text-align: left;
	font-size: 11px;
	letter-spacing: 0.06em;
	line-height: 95%;
	color: #85C329;
}

#designcomments .dcday
{
	width: 30px;
	float: left;
	margin: -6px 4px 0px 0;
	text-align: center;
	font-size: 28px;
	color: #85C329;
}

#designcomments .dctime
{
	display: block;
	width: 80px;
	clear: both;
	letter-spacing: 0.02em;
	font-size: 12px;
	color: #939393;
}

#designcomments .dccomment .dcmain
{
	width: 371px;
	margin: 0 0 0 105px;
	border: 1px solid #fff;
	background-image: url("/img/avatar.gif");
	background-repeat: no-repeat;
	background-position: top left;
}

#designcomments .dccomment .dcmain .dcfui
{
	margin: 1px 0 24px 75px;
	padding: 0;
	font-size: 12px;
	color: #c1c1c1;
}

#designcomments .dccomment .dcmain h3
{
	margin: 10px 0 0px 75px;
	padding: 0;
	font-size: 1.2em;
	font-weight: normal;
}

#designcomments .dccomment .dcmain h3 a,
#designcomments .dccomment .dcmain h3 a:link,
#designcomments .dccomment .dcmain h3 a:visited
{
	text-decoration: none;
	color: #74A8F5;
}

#designcomments .dccomment .dcmain h3 a:hover,
#designcomments .dccomment .dcmain h3 a:active
{
	color: #FB9622;
}

#designcomments .dccomment .dcmain p
{
	margin: 0px 0 0px 0;
	padding: 0;
	font-size: 0.75em;
	line-height: 160%;
	background-color: #fff;
	text-indent: 0;
}

/*** END COMMENTS ***/




/*** design.css ***/

/*** DESIGN PREVIEW ***/

.rating
{
}

.rating ul
{
	margin: 0 0 4px 0;
	padding: 0;
	width: 100px;
	height: 16px;
	line-height: 16px;
	position: relative;
	background-image: url("/img/star.gif");
	background-position: top left;
	background-repeat: repeat-x;
	overflow: visible;
	list-style: none;
}

.rating ul li
{
	padding: 0;
	margin: 0;
	display: inline;
	line-height: 16px;
}

.rating ul li a
{
	display: block;
	width: 20px;
	height: 16px;
	text-decoration: none;
	text-indent: -1000em;
	overflow: hidden;
	z-index: 20;
	position: absolute;
	padding: 0;
}

.rating ul li a:hover
{
	background-image: url("/img/star.gif");
	background-position: left center;
	z-index: 1;
	left: 0;
}

.rating a.rone { left: 0; }
.rating a.rone:hover { width: 20px; }

.rating a.rtwo { left:20px; }
.rating a.rtwo:hover { width: 40px; }

.rating a.rthree { left: 40px; }
.rating a.rthree:hover { width: 60px; }

.rating a.rfour { left: 60px; }	
.rating a.rfour:hover { width: 80px; }

.rating a.rfive { left: 80px; }
.rating a.rfive:hover { width: 100px; }

.rating ul li.rcurrent
{
	background-image: url("/img/star.gif");
	background-position: left bottom;
	position: absolute;
	height: 16px;
	display: block;
	text-indent: -1000em;
	z-index: 1;
}

.rating .rsample
{
	font-size: 0.7em;
	color: #9b9b9b;
}

.designpreview
{
	float: left;
	width: 140px;
	margin: 0 20px 20px 0;
	position: relative;
}

.last_in_row .designpreview
{
	margin-right: 0px;
}

.designpreview a.dpview,
.designpreview a.dpview:visited,
.designpreview a.dpview:active
{
	float: left;
	display: block;
	margin: 0 0 9px 0;
	padding: 9px;
	border: 1px solid #b6b6b6;
}

.designpreview a.dpview:hover
{
	border: 4px solid #1172c5;
	padding: 6px;
}

.designpreview a.dpview img
{
	display: block;
	margin: 0;
	padding: 0;
	border: 1px solid #b6b6b6;
}

.designpreview h3 
{
	float: left;
	width: 100%;
	margin: 0 0 4px 0;
	padding: 0;
	font-size: 0.9em;
	font-weight: bold;
	overflow: hidden;
}

#contentsection .designpreview h4,
.designpreview h4
{
	float: left;
	width: 100%;
	margin: 0 0 11px 0;
	padding: 0;
}

.designpreview h4 a.dpavatar,
.designpreview h4 a.dpavatar:visited,
.designpreview h4 a.dpavatar:active
{
	float: left;
	display: block;
	width: 18px;
	height: 18px;
	margin: 0 6px 0 0;
	padding: 0;
	border: 1px solid #b6b6b6;
}

.designpreview h4 a.dpavatar:hover
{
	border: 1px solid #5d5d5d;
}

.designpreview h4 a.dpavatar img
{
	margin: 1px;
	padding: 0px;
	border: 0;
}

.designpreview h4 a.dpprofile,
.designpreview h4 a.dpprofile:visited,
.designpreview h4 a.dpprofile:active
{
	float: left;
	display: block;
	font-weight: normal;
	padding: 2px 0 0 0;
	font-size: 0.75em;
	color: #9c9c9c;
	width: 90px;
	overflow: hidden;
}

.designpreview h4 a.dpprofile:hover
{
	color: #5d5d5d;
}

.designpreview ul.dpdetails
{
	list-style: none;
	margin: 0 0 7px 0;
	padding: 0;
	float: left;
	width: 100%;
}

.designpreview ul.dpdetails li
{
	display: block;
	height: 16px;
	margin: 0 0 3px 0;
	padding: 0px 0 0 24px;
	font-size: 0.7em;
	color: #9b9b9b;
	background-position: 0 0;
	background-repeat: no-repeat;

}

.designpreview ul.dpdetails li a
{
	font-weight: bold;
}

.designpreview ul.dpdetails li.dpcomment
{
	background-image: url("/img/dpicons.gif");
	background-position: center left;
}

.designpreview ul.dpdetails li.dpdownload
{
	background-image: url("/img/dpicons.gif");
	background-position: bottom left;
}

.designpreview ul.dpdetails li.dpdate
{
}

.designpreview ul.dpdetails li.dpview
{
	background-image: url("/img/dpicons.gif");
	background-position: top left;
}

.designpreview .rating
{
	float: left;
	width: 100%;
}

/*** END DESIGN PREVIEW ***/



/*** START DESIGN GRID ***/

#design_grid
{
	width: 100%;
	float: left;
}

.row
{
	float: left;
	width: 100%;
}

/*** END DESIGN GRID ***/

#dpadvertisement
{
	float: left;
	margin: 25px 0 8px 0;
	width: 527px;
	height: 62px;
	padding: 14px 0 14px 0;
	border: 1px solid #c1c1c1;
	text-align: center;
	position: relative;
}



/*** pager.css ***/

/*** START PAGER ***/

#pager
{
	margin: 0;
	padding: 0;
}

#pager ul
{
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	float: left;
}

#pager ul li
{
	display: block;
	margin: 0;
	padding: 0;
	float: left;
}

#pager ul li span
{
	display: block;
	margin: 0 4px 0 0;
	padding: 2px 4px 4px 4px;
	color: #999;
}

#pager ul li a,
#pager ul li a:link,
#pager ul li a:visited,
#pager ul li a:active
{
	display: block;
	margin: 0 4px 0 0;
	padding: 2px 6px 4px 6px;
	font-size: 0.9em;
	border: 1px solid #c1c1c1;
	text-align: center;
	letter-spacing: 0.005ex;
}

#pager ul li a:hover
{
	border: 1px solid #1172c5;
}

#pager ul li a.currentpage,
#pager ul li a.currentpage:link,
#pager ul li a.currentpage:visited,
#pager ul li a.currentpage:active
#pager ul li a.currentpage:hover
{
	border: 1px solid #1172c5;
	background-color: #1172c5;
	color: #fff;
}

#pager #results
{
	float: left;
	margin: 10px 0 0 0;
	font-size: 0.8em;
	color: #999;
	font-size: 0.8em;
}

/*** END PAGER ***/



/*** advertisements.css ***/

#wix_browse
{
	float: left;
	width: 620px;
	margin-bottom: 8px;
	padding: 14px 0 12px 0;
	font-size: 0.9em;
	border-top: 1px solid #c1c1c1;
	border-bottom: 1px solid #c1c1c1;
	text-align: center;
}

#wix_preview
{
	position: absolute;
	bottom: 10px;
	left: 700px;
	width: 280px;
	font-size: 0.9em;
	border: 1px solid #c1c1c1;
	padding: 12px 20px;
	color: #4d4d4d;
}

/*
.ad_small_rectangle_top
{
	float: left;
	margin: 0 0 20px 0;
	padding: 20px 0;
	border-top: 1px solid #b6b6b6;
	border-bottom: 1px solid #b6b6b6;
}

.ad_small_rectangle_bottom
{
	float: left;
	margin: 0 20px 0 0;
	padding: 20px 0;
	border-top: 1px solid #b6b6b6;
	border-bottom: 1px solid #b6b6b6;
}
*/

.ad_small_rectangle_top
{
	float: left;
	margin: 0 0 40px 0;
}

.ad_small_rectangle_bottom
{
	float: left;
	margin: 0 20px 40px 0;
}

.ad_banner
{
	float: left;
	width: 100%;
	margin: 0 0 20px 0;
	padding: 20px 0;
	border-top: 1px solid #b6b6b6;
	border-bottom: 1px solid #b6b6b6;
	text-align: center;
}

ul#supporters
{
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
}

ul#supporters li
{
	list-style: none;
	margin: 0;
	padding: 0 0 0 0;
	font-size: 0.75em;
}

ul#supporters li.url
{
	font-size: 0.7em;
	color: #aaa;
	padding-bottom: 4px;
	text-indent: 8px;
}

ul#supporters li em
{
	font-weight: normal;
	font-style: italic;
}


ul#supporters li a
{
}



/*** template.css ***/

/*** TEMPLATE PREVIEW ***/

#affiliates_introduction
{
	width: 620px;
	float: left;
}

#affiliates_introduction h4
{
	margin: 20px 0;
}

#affiliates_introduction p
{
	margin: 20px 0;
}

.templatepreview
{
	float: left;
	width: 140px;
	margin: 0 20px 20px 0;
	position: relative;
}

.last_in_row .templatepreview
{
	margin-right: 0px;
}

.templatepreview a.tpview,
.templatepreview a.tpview:visited,
.templatepreview a.tpview:active
{
	float: left;
	display: block;
	margin: 0 0 9px 0;
	padding: 9px;
	border: 1px solid #b6b6b6;
}

.templatepreview a.tpview:hover
{
	border: 4px solid #1172c5;
	padding: 6px;
}

.templatepreview a.tpview img
{
	display: block;
	margin: 0;
	padding: 0;
	border: 1px solid #b6b6b6;
}

.templatepreview h3 
{
	float: left;
	width: 100%;
	margin: 0 0 4px 0;
	padding: 0;
	font-size: 0.9em;
	font-weight: bold;
	overflow: hidden;
}

#contentsection .templatepreview h4,
.templatepreview h4
{
	float: left;
	width: 100%;
	margin: 0 0 11px 0;
	padding: 0;
}

.templatepreview h4 a.tpavatar,
.templatepreview h4 a.tpavatar:visited,
.templatepreview h4 a.tpavatar:active
{
	float: left;
	display: block;
	width: 18px;
	height: 18px;
	margin: 0 6px 0 0;
	padding: 0;
	border: 1px solid #b6b6b6;
}

.templatepreview h4 a.tpavatar:hover
{
	border: 1px solid #5d5d5d;
}

.templatepreview h4 a.tpavatar img
{
	margin: 1px;
	padding: 0px;
	border: 0;
}

.templatepreview h4 a.tpprofile,
.templatepreview h4 a.tpprofile:visited,
.templatepreview h4 a.tpprofile:active
{
	float: left;
	display: block;
	font-weight: normal;
	padding: 2px 0 0 0;
	font-size: 0.75em;
	color: #9c9c9c;
	width: 90px;
	overflow: hidden;
}

.templatepreview h4 a.tpprofile:hover
{
	color: #5d5d5d;
}

.templatepreview ul.tpdetails
{
	list-style: none;
	margin: 6px 0 0px 0;
	padding: 0;
	float: left;
	width: 100%;
}

.templatepreview ul.tpdetails li
{
	display: block;
	height: 16px;
	margin: 0 0 3px 0;
	padding: 0px 0 0 24px;
	font-size: 0.7em;
	color: #9b9b9b;
	background-position: 0 0;
	background-repeat: no-repeat;

}

.templatepreview ul.tpdetails li a
{
	font-weight: bold;
}

.templatepreview ul.tpdetails li.tpcomment
{
	background-image: url("/img/tpicons.gif");
	background-position: center left;
}

.templatepreview ul.tpdetails li.tpbuy
{
	background-image: url("/img/dpicons.gif");
	background-position: bottom left;
}

.templatepreview ul.tpdetails li.tpdate
{
}

.templatepreview ul.tpdetails li.tpview
{
	background-image: url("/img/dpicons.gif");
	background-position: top left;
}

/*** END TEMPLATE PREVIEW ***/



/*** START DESIGN GRID ***/

#template_grid
{
	width: 620px;
}

.row
{
	float: left;
	width: 100%;
}

/*** END DESIGN GRID ***/

#tpadvertisement
{
	float: left;
	margin: 25px 0 8px 0;
	width: 527px;
	height: 62px;
	padding: 14px 0 14px 0;
	border: 1px solid #c1c1c1;
	text-align: center;
	position: relative;
}




/*** message.css ***/


#overlay
{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5000;
	background-color: #000;
	-moz-opacity: 0.8;
	opacity: .80;
/*
	filter: alpha(opacity=80);
*/
}

#overlay[id]
{
	/* IE6 and below Can't See This */
	position:fixed;
}

#message
{
	position: relative;
	background-color:#fff;
	border-top: 8px solid #74a8f5;
	border-bottom: 2px solid #666;

}

#close
{
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	
	width: 68px;
	padding: 11px 12px 0 0;
}

#close img
{
	float: left;
	margin: 0;
	padding: 0;
	width: 68px;
	height: 19px;
	border: 0;
}	

#messagecontent
{

	padding: 8px 120px 8px 8px;
	font-size: 1.1em;
	color: #444;
}

#advertisement-small
{
/*
	border: 1px solid #c1c1c1;
	border-top: none;
	*/
	border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	background-color: #f4f4f4;
	padding-top: 36px;
	float: left;
	width: 198px;
	margin-bottom: 18px;
}

#advertisement-small a.ad:hover {
	border-color: #74a8f5;
}

#advertisement-small a.spot:hover {
	color: #74a8f5;
}

#advertisement-small a.ad
{
	margin-left: 36px;
	border: 1px solid #c1c1c1;
	background-color: #fff;
	width: 125px;
	height: 125px;
	float: left;
	margin-bottom: 12px;
}

#advertisement-small a.spot
{
	float: right;
	font-size: 0.7em;
	margin: 8px;
	color: #636363;
}
