h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #121212;
    font-weight: 700px;
    font-size: 4.75em;
    line-height: 1em;
    letter-spacing: -2px;
}

h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #121212;
    font-weight: 700px;
    font-size: 1.35em;
}

table {
	color: #7F7F7F;
    width: 100%;
	font: 14px "Trebuchet MS",Verdana,sans-serif;
	border-collapse: collapse
}

table,caption {
	margin: 0;
}

caption,th,td {
	border-left: 0;
	padding: 10px
}

caption,thead th,tfoot th,tfoot td {
	background-color: #E63C1E;
	color: #FFF;
	font-weight: 700;
	text-transform: uppercase
}

thead th {
	background-color: #C30;
	color: #FFB3A6;
	text-align: center
}

tbody th {
	padding: 20px 10px
}

tbody tr.odd {
	background-color: #F7F7F7;
	color: #666
}

tbody a {
	padding: 1px 2px;
	color: #333;
	text-decoration: none;
	border-bottom: 1px dotted #E63C1E
}

tbody a:active,tbody a:hover,tbody a:focus,tbody a:visited {
	color: #666
}

tbody tr:hover {
	background-color: #EEE;
	color: #333
}

tbody tr:hover a {
	background-color: #FFF
}

tbody td {
    width: 60%
}

tbody td+td+td+td a:active,tbody td+td+td+td a:hover,tbody td+td+td+td a:focus,tbody td+td+td+td a:visited {
	color: #E63C1E
}

tbody a:visited:after {
	font-family: Verdana,sans-serif;
	content: "\00A0\221A"
}
